<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Music App!</h1>

    <p>Hi, <%= @user.email %>, we hope you enjoy the site!</p>
  </body>
</html>
