<section class="page">
  <div class="centered-box">
    <h1>New Band</h1>

    <%= render 'form', action: :new, band: @band %>
  </div>    
</section>
<% content_for :footer do %>
  <p>This is the new bands page.</p>
<% end %>